// Global Setup
/////////////////////////////////////////////////////////////////////////////////

@import "../../../node_modules/foundation-sites/scss/util/util"

$global-font-size:    100%                  // 16px
$global-lineheight:   1.5                   // (1.5 * 16px) = 24px

$body-background: $white
$body-font-color: $dark-gray
$header-color:    $black

$rem-baseline:    16px

// Grid
/////////////////////////////////////////////////////////////////////////////////

$global-width:      rem-calc(1200)  // 1200px
$global-radius:     0

$global-margin:     1rem
$global-padding:    1rem

// setup grid columns

$grid-column-count:             12
$block-grid-max:                8
$grid-column-gutter:            ('small':                                 20px)
$grid-column-gutter:            map-merge($grid-column-gutter, ('medium': 30px))
$grid-column-responsive-gutter: null


// Typography
/////////////////////////////////////////////////////////////////////////////////

$global-text-direction: ltr         // ltr | rtl
$global-weight-normal:  normal
$global-weight-bold:    700

// setup paragraphs

$paragraph-lineheight:      1.6
$paragraph-margin-bottom:   1rem

// setup font families

$body-font-family:      "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
$font-family-monospace: "Source Code Pro", Consolas, 'Liberation Mono', Courier, monospace
$code-font-family:      $font-family-monospace
$header-font-family:    Oswald, $body-font-family
$sans-font-family:      "Roboto Slab", Georgia, Times, "Times New Roman", serif

// setup headers

$header-font-weight:        $global-weight-bold
$header-lineheight:         1.4
$header-margin-bottom:      0.5rem
$header-small-font-color:   $medium-gray

// setup code

$code-color:        $black
$code-font-weight:  $global-weight-normal
$code-background:   $light-gray
$code-border:       1px solid $medium-gray
$code-padding:      rem-calc(2 5 1)

// setup anchors

$anchor-color:                  $info-color
$anchor-color-hover:            scale-color($anchor-color, $lightness: -14%)
$anchor-text-decoration:        none
$anchor-text-decoration-hover:  none

// setup horizontal rulers

$hr-width:  $global-width
$hr-border: 1px solid $medium-gray
$hr-margin: rem-calc(20) auto

// setup lists

$list-lineheight:           $paragraph-lineheight
$list-margin-bottom:        $paragraph-margin-bottom
$list-style-type:           disc
$list-style-position:       outside
$list-side-margin:          1.25rem
$list-nested-side-margin:   1.25rem

// setup definition lists

$defnlist-margin-bottom:        1rem
$defnlist-term-weight:          $global-weight-bold
$defnlist-term-margin-bottom:   0.3rem

// setup blockquotes

$blockquote-color:      $dark-gray
$blockquote-padding:    rem-calc(9 20 0 19)
$blockquote-border:     1px solid $medium-gray

// setup cites

$cite-font-size: rem-calc(13)
$cite-color:     $dark-gray

// setup keystrokes

$keystroke-font:        $font-family-monospace
$keystroke-color:       $black
$keystroke-background:  $light-gray
$keystroke-padding:     rem-calc(2 4 0)
$keystroke-radius:      $global-radius

// setup abbreviations

$abbr-underline: 1px dotted $black


// Iconography
/////////////////////////////////////////////////////////////////////////////////

$fa-font-path:        "../fonts/font-awesome"
$fa-font-size-base:   16px
$fa-line-height-base: $global-lineheight
$fa-css-prefix:       "icon"
$fa-border-color:     $light-gray
$fa-inverse:          $secondary-color
$fa-li-width:         (30em / 16)
