<!-- {{ page.title | capitalize }} Stylesheets -->{% for stylesheet in page.css %}
{%
    assign stylesheet_first_char = stylesheet | slice: 0,1
%}{%
    if stylesheet_first_char == "h"
%}{%
    assign stylesheet_url = stylesheet
%}{%
    else
%}{%
    assign stylesheet_url = stylesheet | prepend: css_url
%}{%
    endif
%}    <link href="{{ stylesheet_url }}" type="text/css" rel="stylesheet">{% endfor
%}<!-- {{ page.title | capitalize }} Stylesheets -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
 <link href="/assets/css/common.css" type="text/css" rel="stylesheet">
